services:
  fractal-bot:
    container_name: fractal-bot
    build:
      context: .
      target: node
    logging:
      driver: none
    volumes:
      - ./data:/app/data
      - ./logs:/app/logs
    environment:
      - DATA_PATH=/app/data
      - LOG_PATH=/app/logs
      - SIMILARITY_ENDPOINT=http://fractal-similarity:5000
      - LLM_ENDPOINT=http://host.docker.internal:5555
      # 1. Map the magic hostname to your machine's gateway
    extra_hosts:
      - "host.docker.internal:172.17.0.1"

  fractal-similarity:
    container_name: fractal-similarity
    build:
      context: .
      target: python
    logging:
      driver: none
    expose:
      - "5000" # Expose port 5000 to other services
